<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentoring</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/indexJS.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <h1>This is your count list!</h1>
        <ul>
          {% for item in data %}
          <li>{{ item.u_name }} - {{ item.press_count }}</li>
          {% endfor %}
        </ul>
      </div>
      <a href="{% url 'index' %}">Back to main</a>
    </div>
  </body>
</html>
